# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
*.egg-info

# IDE
.vscode
.idea

# Environment (will be passed via docker-compose)
.env

# Docker
Dockerfile
docker-compose.yml
